[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[justfile]
tab_width = 2

[*.{c,sh,mjs,wast,zsh,ts,json,scala,rb,sql,pl,ml,nim,moon,lisp,idr,hs,cabal,fsx,exs,dart,cr,js,bqn,carp,dfy,io,kk}]
tab_width = 2

[*.{py,zig,S,kt,kts,jl,erl,j,mojo}]
tab_width = 4

[*.{v,go}]
tab_width = 4
indent_style = tab
