[submodule "day2/CBQN"]
	path = day2/CBQN
	url = https://github.com/dzaima/CBQN
[submodule "day2/bqn-libs"]
	path = day2/bqn-libs
	url = https://github.com/mlochbaum/bqn-libs
[submodule "day17/qi"]
	path = day17/qi
	url = https://github.com/AnonymousAAArdvark/qi
[submodule "day24/Yuescript"]
	path = day24/Yuescript
	url = https://github.com/pigpigyyy/Yuescript
[submodule "day24/lua-bint"]
	path = day24/lua-bint
	url = https://github.com/edubart/lua-bint
