.vscode/
.env
input.txt

# Day 1
main

# Day 3
carp-*/
out/

# Day 4
day4/main.js
day4/main.out.js
node_modules/

# Day 5
main.beam
erl_crash.dump

# Day 8
dist-newstyle/

# Day 10
jasm-0.7.0/
*.class

# Day 11
.koka/
